body {
    margin: 0 auto;
}

/********************* FONTS *********************/

.font-niconne {font-family: 'Niconne', cursive;}
.font-spinnaker {font-family: 'Spinnaker', sans-serif;}
.font-pacifico {font-family: 'Pacifico', cursive;}




/*************** NON-FIXED NAVIGATION BAR ***************/

#non-fixed-nav {
    display: none;
    height: 215px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99999;
    background-color: white;
    box-shadow: 0px 0px 20px;
    padding: 20px 0;
}

#non-fixed-container {
    height: 100%;
}

@media (min-width: 50px) {
    h1#welcomeBanner {
    font-size: 50px;
    text-align: center;
    margin: 0 auto 10px;
    font-weight: 400;
    line-height: 1.8;
    position: relative;
    }
}

@media (min-width: 600px) {
    h1#welcomeBanner {
    font-size: 72px;
    text-align: center;
    margin: 0 auto 10px;
    font-weight: 400;
    line-height: 1.2;
    position: relative;
    }
}


/**** Paragraph under 600px ***/
@media (min-width: 50px) {
    #non-fixed-container p {
    position: relative;
    top: 5px;
    font-style: italic;
    text-align: center;
    }
}

/**** Paragraph above 600px ***/
@media (min-width: 600px) {
    #non-fixed-container p {
    position: relative;
    top: 20px;
    font-style: italic;
    text-align: center;
    }
}

#non-fixed-nav #nav-right {
    padding: 0;
    padding-right: 10px;
    padding-top: 1.5%;
}

#non-fixed-nav ul {
    text-align: center;
}

#non-fixed-nav li {
    margin-left: 5%;
    display: inline; 
}

#non-fixed-nav a:hover {
    color: deeppink;
    text-decoration: none;
}


#non-fixed-nav a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

#non-fixed-nav .fa-facebook {
    font-size: 15px;
    margin-left: 10px;
}

#non-fixed-nav .fa-instagram {
    font-size: 15px;
    margin-left: 10px;
}




/*************** FIXED NAVIGATION BAR ***************/

#fixed-nav {
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    background-color: white;
    box-shadow: 0px 0px 20px;
}

#fixed-nav #nav-left {
    padding: 0;
    padding-left: 10px;
    padding-top: 16px;
    z-index: 10;
}



#fixed-nav #nav-right {
    display: none;
    padding: 0;
    padding-right: 10px;
    padding-top: 16px;
}

#list-button {
    margin-top: 14px;
    display: block;
}


#fixed-nav #nav-right li {
    margin-left: 25px;
}

#fixed-nav li {
    display: inline;
}

#fixed-nav a:hover {
    color: deeppink;
    text-decoration: none;
}


#fixed-nav a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

#fixed-nav .fa-facebook {
    font-size: 15px;
    margin-left: 10px;
}

#fixed-nav .fa-instagram {
    font-size: 15px;
    margin-left: 10px;
}




/******************* HEADER *******************/

header {
    position: relative;
    padding-top: 120px;
}

#fourdogs {
    padding-top: 45px;
    display: block;
    z-index: 1;
    /*
    object-fit: contain;
    */
    
}

    header h1 {
    text-align: center;
}

#welcomeUnderline {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}


/******************* SECTION ONE *******************/


#section-one.container-fluid {
    position: relative;
    background-color: orange;
}

#section-one aside {
    padding-top: 25px;
    color: black;
    text-align: center;
    padding-bottom: 25px;
}

#section-one h1 {
    font-size: 25px;
}



/******************* SECTION TWO *******************/


#section-two.container-fluid {
    position: relative;
    background-color: deepskyblue;
}

#section-two article {
    color: black;
    padding-top: 25px;
    text-align: center;
    padding-bottom: 25px;
}

#section-two h1 {
    font-size: 25px;
}

#section-two a {
    color: black;
}

#section-two a:hover {
    color: deeppink;
    text-decoration: none;
}

/******************* SECTION THREE *******************/


#section-three.container-fluid {
    position: relative;
    background-color: forestgreen;
}

#section-three article {
    color: black;
    padding-top: 25px;
    text-align: center;
    padding-bottom: 25px;
}

#section-three h1 {
    font-size: 25px;
}

#section-three a {
    color: black;
}

#section-three a:hover {
    color: deeppink;
    text-decoration: none;
}

#section-three ul {
    list-style: none;
}

/******************* FOOTER *******************/

footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 120px;
}

footer p{
    margin-top: -20px;
    text-align: center;
}


#dogs-footer {
    background-color: forestgreen;
    height: 258px;
    margin-bottom: -104px
}
