body {
    background-color: white;
    margin: 0 auto;
}

#navbar {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    box-shadow: 0px 0px 20px;
    /* margin-bottom: 30px;*/
    background-color: white;
}

#col-navbar {
    margin-right: auto;
    margin-left: auto;
    width: 960px;
}

#navbar a {
    text-decoration: none;
    color: black;
}

#navbar ul {
    height: 30px;
    padding: 20px;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    margin: 0;
}

#navbar li {
    list-style: none;
    display: inline;
}

#logo {
    width: 30%;
    float: left;
}

#logo i {
    font-size: 15px;
    margin-left: 10px;
}

#logo i:hover {
    color: deeppink;
}

#doggystyle a:hover {
    color: deeppink;
}

#menu {
    width: 70%;
    float: right;
}

#menu a:hover {
    color: deeppink;
}

#menu li {
    margin-right: 25px;
    float: right;
}

#content-section-one {
    height: 120px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
}

#company-logo {
    float: left;
}

#col-header-one {
    text-align: center;
    font-family: Stoke, serif;
}

#col-header-one img {
    margin-bottom: 4%;
}

#content-section-two img {
    margin-top: 30px;
    width: 300px;
    height: 74vh
}


